body {
  padding: 0;
  margin: 0;
  background-color: white;
}

#qjumbo {
  background-color: #D7BE48;
}

#rjumbo[predictor-status="AMBIVERT"] {
  background-color: #D7BE48;
}

#rjumbo[predictor-status="INTROVERT"] {
  background-color: #2B62BA;
}

#rjumbo[predictor-status="EXTROVERT"] {
  background-color: #DA665D;
}

#rjumbo[predictor-status="UNKNOWN"] {
  background-color: fuchsia;
}

input {
  margin: 8px;
}

.qseparator {
  border-width: 2px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  padding: 3px;
  margin: 3px;
}

#questionnaire {
  margin: 5px;
}

#submitbutton {
  margin: 10px;
  font-size: 40px;
}

#submit {
  background-color: #2B62BA;
  color: white;
  border-radius: 10px;
}