<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Introvert-Extrovert Predictor Questionnaire</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="questionnaire" class="col-md-12">
          <div id="qjumbo" class="jumbotron text-center">
            <h1>Introvert - Extrovert Predictor Questionnaire</h1>
          </div>
          <h3 class="text-center">Answer all of the questions, then click submit to receive your assessment.</h3>
          <form method="POST" action="/send" role="form" name="questionnaireform" id="survey-form">
            <div id="qformsurvey" class="qform"></div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript files -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

  </body>
</html>
