<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Introvert-Extrovert Predictor Survey</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Introvert - Extrovert Questionnaire</h1>
          <p>Answer all of the following questions, hit submit to receive prediction.</p>
          <p>Enter a number from 1 (strongly disagree) to 5 (strongly agree):</p>
          <form method="POST" action="/send" role="form" id="survey-form">
            <div id="questions">
              <label for="Q0Test">Text for sample question 0 in questionnaire.html:</label>
              <br>
              <input type="radio" id="Q0A1" name="Q0Test" value="1"> Disagree<br></input>
              <input type="radio" id="Q0A2" name="Q0Test" value="2"> Slightly disagree<br></input>
              <input type="radio" id="Q0A3" name="Q0Test" value="3" checked> Neutral<br></input>
              <input type="radio" id="Q0A4" name="Q0Test" value="4"> Slightly agree<br></input>
              <input type="radio" id="Q0A5" name="Q0Test" value="5"> Agree<br></input>
            </div>
            <div id="qformsurvey" class="qform"></div>
          </form>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript files -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script>

  </body>
</html>
